<div id="main-menu">
    <div class="menu-card">
        <div class="menu-header">
            <h1 data-translation="kaiChronicles">Kai Chronicles</h1>
            <div class="menu-meta">
                <span class="menu-version">v1.18</span>
            </div>
            <p data-translation="appInfo">
                Lone Wolf Game Books 1 to 29. Have Fun!
            </p>

            <br>
        <a href="https://www.projectaon.org">https://www.projectaon.org</a>
        </div>

        <div id="menu-webinfo" class="menu-warnings">
            <p data-translation="historyWarning">
                Clearing your browser history, will cause your current game state to
                be lost. You can save the current game to a file at <i>Settings &gt; Save game</i>.
            </p>
        </div>

        <div class="menu-actions">
            <button class="large-button" type="button" id="menu-continue">
                <img src="images/game-icons/white-book.png" alt="Continue game" />
                <span data-translation="continueGame">Continue game</span>
            </button>
            <button class="large-button" type="button" id="menu-new">
                <img src="images/game-icons/enlightenment.png" alt="New game" />
                <span data-translation="newGame">Start new game</span>
            </button>
            <button class="large-button" type="button" id="menu-load">
                <img src="images/game-icons/load.png" alt="Load game" />
                <span data-translation="loadGame">Load game</span>
            </button>
            <button class="large-button" type="button" id="menu-faq">
                <img src="images/game-icons/help.png" alt="FAQ" />
                <span data-translation="faq">FAQ</span>
            </button>
            <button class="large-button" type="button" id="menu-privacy">
                <img src="images/game-icons/info.png" alt="Privacy" />
                <span data-translation="privacy">Privacy policy</span>
            </button>
        </div>
    </div>

</div>
